@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #1b1d20;
  --neumorphism-outer: -4px -4px 8px #27292d, 4px 4px 8px #070809;
  --neumorphism-inner: inset -4px -4px 8px #27292d, inset 4px 4px 8px #070809;
  --gradient-bg: linear-gradient(to bottom, #292e37, #0a0b0d);
  --color-btn: #b6f2cf;
  --color-bg-input: #202328;
  --color-primary: #b6f2cf;
  --color-secondary: #1fa7fe;
  --color-text: #ffffff;
  --color-subtext: #cecece;
  --color-placeholder: #817f7f;
  --gradient-pie-chart: linear-gradient(135deg, #090a0c, #282f37);
}

*,
*::before,
*::after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-family: "Sulphur Point", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  background: var(--gradient-bg);
}
