.neumorphism-outer {
  box-shadow: var(--neumorphism-outer);
}

.neumorphism-inner {
  box-shadow: var(--neumorphism-inner);
}

.anim-delay-1 {
  animation-delay: 0.1s;
}

.anim-delay-2 {
  animation-delay: 0.2s;
}

.anim-delay-3 {
  animation-delay: 0.3s;
}

.customScrollbar::-webkit-scrollbar {
  width: 0.6em;
}

.customScrollbar::-webkit-scrollbar-track {
  box-shadow: var(--neumorphism-inner);
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

/* The radio_container */
.radio_container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  padding: 5px;
  box-shadow: var(--neumorphism-inner);
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #1fa7fe;
}
